<div class="row">
    <div *ngFor = "let product of products" class="name col-6 col-sm-4 col-md-6 col-lg-3 col-xl-2">
    <div class="card " >
      <img src="{{product.thumbnail}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price}}</p>
        <button class="sales" *ngIf="product.sales; else notsale">Mua với mã giảm giá</button>
        <ng-template #notsale>
                    <button>Mua ngay</button>
        </ng-template>
      </div>
    </div>
    </div>
    
</div>